<script src="{{url_for('static',filename='js/vendors/pace.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/jquery.magnific-popup.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/swiper.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendors/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script>
        new WOW().init();
    </script>
