{% extends 'layout.html' %}
{% block body %}
    <h1>Add Article</h1>
    <!--
        The below one just helps us show the field right below there.
    -->
    {% from "includes/formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{render_field(form.title,class='form-control')}}
        </div>
        <div class="form-group">
            {{render_field(form.body,class_='form-control',id="editor")}}
        </div>
        <div class="form-group">
            {{render_field(form.date,class='form-control',type="date")}}
        </div>
        <div class="form-group">
            {{render_field(form.time,class='form-control',type="time")}}
        </div><div class="form-group">
            {{render_field(form.image_url,class='form-control')}}
        </div><div class="form-group">
            {{render_field(form.venue,class='form-control')}}
        </div>
        
        <p><input type="submit" class="btn btn-primary" value="submit"></p>
    </form>
{% endblock %}