{% include './includes/_navbar.html' %}


<body>
<!-- Page Header-->
{% if post|length > 0 %}
{% for thisPost in post %}
<header class="masthead" style="background-image: url({{thisPost.image}}) ;background-size:cover; height: 25rem;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading" >
                    <h1>{{thisPost.title|safe}}</h1>
                    <h2 class="subheading">{{thisPost.subtitle}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!" style="color:#fff;text-decoration: none;">{{thisPost.author}}</a>
                        on {{thisPost.date}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4 mt-4"> 
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7" style="color: white; ">
                {{thisPost.blogContent|safe}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</article>


<!-- Core theme JS-->
<script src="{{url_for('static' , filename='js/scripts.js')}}"></script>

</body>

{% include './includes/footer.html' %}