{% include './includes/_navbar.html' %}
{% block body %}
<div class = "container">
<h1>Blogs</h1><br><br>
<hr>   

<h3>UI/UX<h3>
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://uxdesign.cc/is-accessible-neumorphism-possible-87ae1b4b1077">Is accessible neumorphism possible?</a></h4><p>While we talked about the issues around accessibility with regards to this new design trend called neumorphism in the previous post, the question remains, can this trend be accessible? The best way to find an answer to this question is to get back and have a look at some more examples around this neumorphic trend.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://uxplanet.org/microinteractions-an-essential-gimmick-6bc24fc3ff75">Microinteractions : An Essential Gimmick?</a></h4><p>The above activity shows how the human mind is wired to recognise basic patterns throughout our daily lives. The basic idea behind this being that once you find that something works a certain way, it is most likely going to work the same way in some other similar scenario.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://medium.com/@tanisha031199/neumorphism-and-accessibility-84b8397eb4fc">Neumorphism and Accessibility :</a></h4><p>Amidst the hype of fancy UI design trends that continuously flood Dribble, the real question is how accessible are these designs? With the outbreak of the craze around Neumorphism(New Skeuomorphism), designers are going crazy to replace the pre-existing designs over such new variations for their applications.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>    
</div>
<hr>
<h3>App Development<h3>
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <blockquote class="embedly-card"><h4><a href="https://medium.com/@ujjwal.msrit/widgets-flutter-for-beginners-2fe049d12b18">Widgets - Flutter for beginners</a></h4><p>A widget is either stateful or stateless. Stateful widget: It is dynamic in nature: for example, it can change its appearance in response to events triggered by user interaction or when it receives data. Checkbox, Radio, Slider, InkWell, Form, and TextField are examples of stateful widgets. Stateful widgets subclass StatefulWidget.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <blockquote class="embedly-card"><h4><a href="https://medium.com/@ujjwal.msrit/flutter-the-rising-technology-8408ccfc20aa">Flutter-the rising technology</a></h4><p>Dart Platform Flutter engine Foundation Library Design-specific widgets Flutter apps are written in dart language. For C or C++ developers, it would look very similar. Even if you have a basic understanding of Object-Oriented Programming in any high-level language, I am pretty sure it will hardly take you any time to get the hold of dart, as well as app development using flutter.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>  
</div>
<hr>
<h3>Data Science<h3>
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <blockquote class="embedly-card"><h4><a href="https://medium.com/analytics-vidhya/data-visualization-from-absolute-beginners-using-python-part-1-3-3cb9253ac007">Data Visualization from absolute beginners using python[part 1/3]</a></h4><p>The job of a Data Scientist has been ranked the number one job by glassdoor and it is an excellent career path providing not just great salary potential but an opportunity to work on some of the world's most interesting problems! As a matter of fact data visualisation is one of the most in demand skill for any data scientist out there.</p></blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <blockquote class="embedly-card"><h4><a href="https://medium.com/analytics-vidhya/data-visualization-for-absolute-beginner-using-python-part-2-3-a19b3751ede">Data Visualization for absolute beginner using python[part 2/3]</a></h4><p>Now that we've covered the basics, let's shift our focus to introduction of Matplotlib's Object Oriented API. This will allow us to instantiate figure objects and then we can call methods from that object. The idea here is to use a more formal Object Oriented method to create figure objects and then call the respective methods or attributes of that object.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://medium.com/analytics-vidhya/data-visualization-for-absolute-beginner-part-3-3-96a00d04497f">Data Visualization for absolute beginner [part 3/3]</a></h4><p>By now we have covered the basics of creating a figure canvas and add axes instances to it, Let's now focus on how we can add titles,axis labels and legends to our plots. An axes contains the method set_title which can be added to each axis instance in a figure.</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
    
</div>
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <blockquote class="embedly-card"><h4><a href="https://medium.com/analytics-vidhya/data-visualisation-for-absolute-beginners-using-seaborn-8cd93f705efe">Data Visualisation for absolute beginners using seaborn</a></h4><p>In my previous tutorial, we talked about basic plots using matplotlib, now in this tutorial, we will be building more advanced forms of data plots, and to make it more interesting we will be working on a real data set!</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div>
</div>
<hr>      
<h3>Misc<h3>
<div class="row">

    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://uxplanet.org/the-design-of-habit-forming-products-1356d01447cd">The Design of Habit-forming products</a></h4><p>The opening line of "Hooked: How to Build Habit-Forming Products" got me hooked to the book. It said, "Seventy-nine percent of smartphone owners check their devices within fifteen minutes of waking up". There is something about Cognitive psychology that the businesses out there want to strike in order to get their users HOOKED.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </div>
    </div> 
    <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
        <blockquote class="embedly-card"><h4><a href="https://medium.com/@tanisha031199/js-the-functional-programming-paradigm-66f1b8d57ee8">JS - The functional programming paradigm</a></h4><p>Unlike Object-Oriented Programming(C++, Java), functional programming uses pure functions that are easier to maintain. Formally speaking, Functional programming is a programming paradigm - a style of building the structure and elements of computer programs - that treats computation as the evaluation of mathematical functions and avoids changing state and mutable data.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </div> 

</div>
<hr>      
</div>
{% endblock %}
  
      
{% include './includes/footer.html' %}