{% include './includes/_navbar.html' %}

<body>
    <style>

        .containers {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 50px;
            
        }
    </style>

    <!-- Carousel-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {% if headArr|length > 0 %}
            {% for post in headArr %}
            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" id="slide{{ loop.index }}"
                style="background-image: url({{post.image}})">

                <div  class="containers">

                    <div class="containers">

                        <h1>{{post.title}}</h1>
                        <p >{{post.subtitle}}</p>
                        <a  href="{{url_for('post',post_id=post.id)}}"  class=" btn btn-primary">Read more</a>

                    </div>

                </div>

            </div>
            {% endfor %}
            {% endif %}

        </div>
        <!-- <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>


    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                {% if blogs|length > 0 %}
                {% for blog in blogs %}
                <a href="{{url_for('post',post_id=blog.id)}}">
                    <div style="padding-top: 20px;"><img class="img-fluid" src={{blog.image}} />
                    </div>

                    <div class="post-preview">

                        <h2 class="post-title">{{blog.title}}</h2>
                        <h3 class="post-subtitle text-muted" >{{ blog.subtitle}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!" style="text-decoration: none;">{{blog.author}}</a>
                   in {{blog.topic}}

                </p>
            </div>
            <hr class="my-4" />
            {% endfor %}
            {% endif %}
           

            <!-- Pagination-->
            <!-- <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts
                    →</a></div> -->
        </div>
    </div>
    </div>


    <!-- Core theme JS-->
    <script src="{{url_for('static' , filename='js/scripts.js')}}"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
</body>
      
{% include './includes/footer.html' %}