{% include './includes/_navbar.html' %}
<div class = "container ">
    <div class = "events container">
            <section id="workshops" class="section-spacer workshops-section">
        <div class="container">
            <header class="section-header text-center">
                <h2 class="section-title wow fadeInUp">Welcome to the admin Dashboard!</h2>
                <p class="section-subtitle wow fadeInUp"></p>
            </header>

            <div class="workshops-type-switch">
                <ul class="nav nav-pills justify-content-center js-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#upcoming">Past Events</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                    <div class="row">


    <h1>Dasboard <small> Welcome {{session.username}}</small></h1>
    <a class="btn btn-success" href="/logout">Logout</a>
    <a class="btn btn-success" href="/add_article">Add article</a><br>
    <hr>
    <table class="table table-striped">
    <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th></th>
            <th></th>
     </tr>
    {% for doc in docs %}
    <tr>
            <td>{{doc.id}}</td>
            <td>{{doc.title}}</td>
            <td>{{doc.date}}</td>
            <td><a href="edit_post/{{doc.id}}"  class="btn btn-info pull-right">Edit</a></td>
            <td>
                <form method="POST">
                        <form action="{{url_for('delete_article', id=doc.id)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tr>

    {% endfor %}
</table>
    {% endblock %}
