{% include './includes/_navbar.html' %}
<style>
.a{
    text-align: center
}
</style>
{% block body %}
<div class = "container ">
    <div class = "events container">
            <section id="workshops" class="section-spacer workshops-section">
        <div class="container">
            <header class="section-header text-center">
                <h2 class="section-title wow fadeInUp">Welcome {{session.username.lower()}}</h2>
                <p class="section-subtitle wow fadeInUp"></p>
            </header>

            
  {% include 'includes/messages.html' %}

    <h1>Dashboard</h1><br>
    <div>
    <a class="btn btn-success" href="/add_article" style="margin-right:9px ">Add article</a>
    <a class="btn btn-success" href="/upload" style="margin-right:9px">Add Photos</a>
    <a class="btn btn-success" href="/add_upcoming_event" style="margin-right:9px ">Add Upcoming Events</a>
    <a class="btn btn-success" href="/add_blog_post" style="margin-right:9px ">Add Blog</a>
    <a class="btn btn-success" href="/logout">Logout</a>
    </div>
            <div class="tab-content">
                <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                    <div class="row">


    <div class="workshops-type-switch">
        <ul class="nav nav-pills justify-content-center js-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#upcoming">Upcoming Events</a><br/>
            </li>
        </ul>
    </div>
    <br>

    <table class="table table-striped">
        <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Date</th>
                <th>Delete</th>
         </tr>
         {% if upcoming|length > 0 %}
        {% for doc in upcoming %}
        <tr>
                <td>{{doc.id}}</td>
                <td>{{doc.title}}</td>
                <td>{{doc.date}}</td>
                <td>
                    
                <form action="{{url_for('delete_upcoming_event',id=doc.timestamp)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                </td>
            </tr>
            
    
        {% endfor %}
        {% else %}
        <td></td>
        <td></td>
        <td><h1 class="a">No upcoming Events Added</h1></td>
        <td></td>
        {% endif %}
    </tr>
        </table>

    <div class="workshops-type-switch">
        <ul class="nav nav-pills justify-content-center js-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#upcoming">Past Events Doc</a><br/>
            </li>
            <br/>
        </ul>
    </div>
    <table class="table table-striped">
    <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
     </tr>
     {% if docs|length > 0 %}
    {% for doc in docs %}
    <tr>
            <td>{{doc.id}}</td>
            <td>{{doc.title}}</td>
            <td>{{doc.date}}</td>
            <td><a href="edit_post/{{doc.id}}/{{doc.timestamp}}"  class="btn btn-info pull-right">Edit</a></td>
            <td>
                <form action="{{url_for('delete_article',id=doc.timestamp)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        </tr>

    {% endfor %}
    {% else %}
        <td></td>
        <td></td>
        <td><h1 class="a">No Reports added</h1></td>
        <td></td>
        <td></td>
        {% endif %}
    </table>

<!-- Blog Section -->

<div class="workshops-type-switch">
    <ul class="nav nav-pills justify-content-center js-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#upcoming">All Blogs</a><br />
        </li>
        <br />
    </ul>
</div>
<table class="table table-striped">
    <tr>
        <th>Topic</th>
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% if blogs|length > 0 %}
    {% for blog in blogs %}
    <tr>
        <td>{{blog.topic}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.date}}</td>
        <td><a href="edit_blog_post/{{blog.id}}" class="btn btn-info pull-right">Edit</a></td>
        <td>
            <form action="{{url_for('delete_blog',id=blog.id)}}" method="post">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </td>
    </tr>
    </tr>

    {% endfor %}
    {% else %}
    <td></td>
    <td></td>
    <td>
        <h1 class="a">No Blogs added</h1>
    </td>
    <td></td>
    <td></td>
    {% endif %}
</table>





{% endblock %}
{% include './includes/footer.html' %}

