{%  extends 'layout.html' %}
{% block body %}
      <div class = "event container">
          <h1>Title of the event</h1><hr>
 
          <h4>Photos of the Event:</h4>
          <div class="row">
       <div class="col-md-4 col-12">
        <div class="card event-card wow fadeInUp">
            <img alt="Event two poster" class="card-img-top" src="#" width="140" height="300">
            <div class="card-body">
              
            </div>
        </div>
    </div>
        
      
      </div>
{% include './includes/footer.html' %}
<hr>

{% endblock %}


