<!DOCTYPE html>
<html>
<head>
	<title>Our Team </title>
	    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DSC - RIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="DSC RIT" />
    <meta name="description" content="Developer Student Clubs (DSC) is a Google Developers program for university students to learn mobile and web development skills.">
    <meta name="keywords" content="dsc, Ramaiah Institute of Technology,google developers, DSC Ramaiah, Bengaluru, ISE" />
    <meta name="theme-color" content="#0A192F" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="{{url_for('static',filename='images/favicon.png')}}" type="image/png" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Google+Sans:400,500,700|Material+Icons' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <link  rel="stylesheet"href="{{url_for('static',filename='css/animate.css')}}"> 
    <!--  preloader -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/pace-theme.css')}}">
    <script src="{{url_for('static',filename='js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144538640-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144538640-2');
</script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top custom-menu custom-menu__light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img data-src="{{url_for('static',filename='images/icon.png')}}" height="35" alt="DSC icon">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-icon__circle">
                </span>
                <span class="menu-icon">
                    <span class="menu-icon__bar"></span>
                    <span class="menu-icon__bar"></span>
                    <span class="menu-icon__bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#overview">Overview
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item"><a href="#technologies" class="nav-link">Technologies</a></li>
<!--                     <li class="nav-item"><a class="nav-link" href="learn">Learn</a></li>
                    <li class="nav-item"><a class="nav-link" href="projects">Projects</a></li> -->
                    <li class="nav-item"><a href="#workshops" class="nav-link">Workshops</a></li>
                    <li class="nav-item"><a href="./team" class="nav-link">Team</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/search?q=DSCUniversityName" target="_blank" rel="noopener">Stories</a>
                    </li>
                </ul>
                <div class="custom-menu__right">
                    <a href="http://meetu.ps/c/3q6jR/zjdKV/f" class="event-btn" rel="noreferrer" target="_blank">Next
                        Event</a>
                </div>
            </div>
        </div>
    </nav>
<!-- faculty  -->
<section class="section-spacer team-section">
        <div class="container">
            <header class="text-center section-header">
                <h2 class="section-title wow fadeInUp">Meet The Faculty</h2>
                <p class="section-subtitle">Supportive Faculty.</p>
            </header>

            
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                            <div class="row teams">
                                <div class="col-md-4 col-12"></div>
                                    <div class="col-md-4 col-12">
                                        <div class="card event-card">
                                            <div class="card hovercard">
                                            
                                                <div class="avatar">
                                                    <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                                </div>
                                                <div class="info">
                                                    <div class="title">
                                                        <h5>Mr. HOD</h5>
                                                        <p>ISE department</p>
                                                    </div>
                                                </div>
                                                <div class="bottom">
                                                    <ul class="social-list__inline mt-10">
                                                        <li>
                                                            <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                                <i class="fab fa-github"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                                rel="noopener">
                                                                <i class="fab fa-linkedin"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" target="_blank" rel="noopener">
                                                                <i class="fas fa-link"></i>
                                                            </a>
                                                        </li>
                    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>        
                        
                        <div class="row teams">
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Dr. Mydhilli K. Nair</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Dr. Sumana </h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                    <div class="card event-card">
                                        <div class="card hovercard">
                                        
                                            <div class="avatar">
                                                <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <h5>Dr. Sunita</h5>
                                                    <p>Web Developer and Novel Freak</p>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <ul class="social-list__inline mt-10">
                                                    <li>
                                                        <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                            rel="noopener">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" target="_blank" rel="noopener">
                                                            <i class="fas fa-link"></i>
                                                        </a>
                                                    </li>
                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>   
                    </div>
                </div>
            </div>
        


        </div>
    </div>
</div>
</section>

<!-- student core team -->
       <section id="team" class="section-spacer team-section">
        <div class="container">
            <header class="text-center section-header">
                <h2 class="section-title wow fadeInUp">Meet The Team</h2>
                <p class="section-subtitle">Passionate students and faculty staff driving the success of the program.</p>
            </header>
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                        <div class="row teams">
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQEMnIPsy5V8TQ/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=oxK2K6W4r4C-DcRnRXf9ldUk1pMyfxYG_K0RpjfviYE" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Piyush Mehta</h5>
                                                <p>DSC Lead</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/piyush97" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/piyush24/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQEya5JfJQ4aRw/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=ouuWVgZ0ghv7rVPn5qRYXZeCqtv88gP7iEAKjlFZGRs" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Hemant Joshi</h5>
                                                <p>Coordinator</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/hjoshi123" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/hemantj0/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFDfkS8gXOpRw/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=OfsQkMB7a3tuv02El46t15-fLpCni8RLdgbmGKdKzVE" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>V R Karthik</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/vrkarthik14" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/v-r-karthik-85245714a/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                    <div class="card event-card">
                                        <div class="card hovercard">
                                        
                                            <div class="avatar">
                                                <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQGPEUyLsfzyKw/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=DbKGDPWh8Qm3tVTvSHuxbWcCgIViysVh0DumYc3KMSM" alt="lead avatar">
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <h5>Meer Sawood</h5>
                                                    <p>Web Developer and Novel Freak</p>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <ul class="social-list__inline mt-10">
                                                    <li>
                                                        <a href="https://github.com/sawood14012" target="_blank" rel="noopener">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/sawood-meer-a50465119/" target="_blank"
                                                            rel="noopener">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="" target="_blank" rel="noopener">
                                                            <i class="fas fa-link"></i>
                                                        </a>
                                                    </li>
                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFm4G3Bq7geng/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=FUXCqO2bLRnoYg1t8ZFFXzvXUJs7R-X3gHdbT7bzd-Y" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Rohit P Nagraj</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/RohitNagraj" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/rohitnagraj/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQG0REeTBLZZmA/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=JnYrsMJ3hcKahGSUk4OQu6YH-_k3leKBxZLq685KMTk" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Raghav Maheshwari</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/raghavddps2" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/raghavddps2/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFbdNMU0mR_3A/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=JKq3IJPXwQYd6rypO48HFJVjifzxlOX6HhbqWMR-G6A" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ayush Ujjwal</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQHoq3xz5tyGcQ/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=VseUaNF6r_KjcorLsmcrJmTiBP2Ujg_vVS_nNmGG4fw" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ishank Sharma</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ishank-dev" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ishank-sharma-438a32144/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQE1GaVtngkGtA/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=M2IGZrnDzmpCV271Uu6Zw4XKbosalBEoo3Ce5XzeRRc" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Tanisha Sabherwal</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/tanisha03" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tanisha-sabherwal-7b968a146/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQGpQNeowC0afg/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=riLJTSx_DmigiEkMpE6_lIkn2tXuSVB94Lu4q1hF1C4" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Nimish Bongale</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/nimishbongale" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/nimish-bongale/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ayush Ujjwal</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                        <div class="avatar">
                                            <img id="ycol" src="images/assets/team/anne.jpeg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Tanisha</h5>
                                                <p>Web Developer(MERN & MEVN Stack Developer) </p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/anniemburu/" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tanisha-sabherwal-7b968a146/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://google.com/wambuicodes" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ayush Ujjwal</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="images/assets/team/kev.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ayush Ujjwal</h5>
                                                <p>Web Developer and Novel Freak</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                        <div class="avatar">
                                            <img id="ycol" src="images/assets/team/anne.jpeg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Tanisha</h5>
                                                <p>Web Developer(MERN & MEVN Stack Developer) </p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/anniemburu/" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tanisha-sabherwal-7b968a146/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://google.com/wambuicodes" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-4 col-12">
                        <div class="card event-card">
                            <div class="card hovercard">
                                <div class="avatar">
                                    <img id="rcol" src="images/assets/team/juma.jpeg" alt="lead avatar">
                                </div>
                                <div class="info">
                                    <div class="title">
                                        <h5>Collins Juma</h5>
                                        <p>Volunteer / Java Developer</p>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <ul class="social-list__inline mt-10">
                                        <li>
                                            <a href="https://github.com/CollyneJumah" target="_blank" rel="noopener">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.LinkedIn.com/collins-jumah-723198157/" target="_blank"
                                                rel="noopener">
                                                <i class="fab fa-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://google.com/JumahCollyne" target="_blank" rel="noopener">
                                                <i class="fas fa-link"></i>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
</body>
</html>