{% include './includes/_navbar.html' %}

<section class="section-spacer team-section">
        <div class="container">
            <header class="text-center section-header">
                <h2 class="section-title wow fadeInUp">Meet The Faculty</h2>
                <p class="section-subtitle">Supportive Faculty.</p>
            </header>

            
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                            <div class="row teams">
                                <div class="col-md-4 col-12"></div>
                                    <div class="col-md-4 col-12">
                                        <div class="card event-card">
                                            <div class="card hovercard">
                                            
                                                <div class="avatar" onclick='console.log("Why dont we make the DSC Workshops paid!!")' >
                                                    <img id= "bcol" src="https://image.ibb.co/iDvqqd/BPV_1.jpg" alt="lead avatar">
                                                </div>
                                                <div class="info">
                                                    <div class="title">
                                                        <h5>Dr. Vijay Kumar B P</h5>
                                                        <p>HOD ISE department</p>
                                                    </div>
                                                </div>
                                                <div class="bottom">
                                                    <ul class="social-list__inline mt-10">
                                                        <!-- <li>
                                                            <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                                rel="noopener">
                                                                <i class="fab fa-linkedin"></i>
                                                            </a>
                                                        </li> -->
                                                        <li>
                                                            <a href="http://msrit.edu/department/faculty-detail.html?dept=ise&ID=1" target="_blank" rel="noopener">
                                                                <i class="fas fa-link"></i>
                                                            </a>
                                                        </li>
                    
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>        
                        
                        <div class="row teams">
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar" onclick='console.log("I will make you feel bad about it!")'>
                                            <img id= "bcol" src="https://image.ibb.co/engMMk/fac95.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Dr. Mydhilli K. Nair</h5>
                                                <p>Professor ISE Department</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                
                                                <li>
                                                    <a href="http://msrit.edu/department/faculty-detail.html?dept=ise&ID=3" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://image.ibb.co/iukRnQ/fac111.jpg" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Dr. Sumana </h5>
                                                <p>Associate Professor ISE</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                
                                                <li>
                                                    <a href="http://msrit.edu/department/faculty-detail.html?dept=ise&ID=10" target="_blank" rel="noopener">
                                                        <i class="fas fa-link"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                    <div class="card event-card">
                                        <div class="card hovercard">
                                        
                                            <div class="avatar">
                                                <img id= "bcol" src="https://image.ibb.co/hX4VE5/fac105.jpg" alt="lead avatar">
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <h5>Lincy Mathews</h5>
                                                    <p>Assistant professor ISE</p>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <ul class="social-list__inline mt-10">
                                                    
                                                    <li>
                                                        <a href="http://msrit.edu/department/faculty-detail.html?dept=ise&ID=14" target="_blank" rel="noopener">
                                                            <i class="fas fa-link"></i>
                                                        </a>
                                                    </li>
                                                    
                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>   
                    </div>
                </div>
            </div>
        


        </div>
    </div>
</div>
</section>

<!-- student core team -->
       <section id="team" class="section-spacer team-section">
        <div class="container">
            <header class="text-center section-header">
                <h2 class="section-title wow fadeInUp">Meet The Team</h2>
                <p class="section-subtitle">Passionate students and faculty staff driving the success of the program.</p>
            </header>
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="upcoming" role="tabpanel" aria-labelledby="upcoming">
                        <div class="row teams">
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQEMnIPsy5V8TQ/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=oxK2K6W4r4C-DcRnRXf9ldUk1pMyfxYG_K0RpjfviYE" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Piyush Mehta</h5>
                                                <p>DSC Lead</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/piyush97" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/piyush24/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQEya5JfJQ4aRw/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=ouuWVgZ0ghv7rVPn5qRYXZeCqtv88gP7iEAKjlFZGRs" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Hemant Joshi</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/hjoshi123" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/hemantj0/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFDfkS8gXOpRw/profile-displayphoto-shrink_800_800/0?e=1574294400&v=beta&t=OfsQkMB7a3tuv02El46t15-fLpCni8RLdgbmGKdKzVE" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>V R Karthik</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/vrkarthik14" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/v-r-karthik-85245714a/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                    <div class="card event-card">
                                        <div class="card hovercard">
                                        
                                            <div class="avatar">
                                                <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQGPEUyLsfzyKw/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=DbKGDPWh8Qm3tVTvSHuxbWcCgIViysVh0DumYc3KMSM" alt="lead avatar">
                                            </div>
                                            <div class="info">
                                                <div class="title">
                                                    <h5>Meer Sawood</h5>
                                                    <p>DSC Core Member</p>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <ul class="social-list__inline mt-10">
                                                    <li>
                                                        <a href="https://github.com/sawood14012" target="_blank" rel="noopener">
                                                            <i class="fab fa-github"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/in/sawood-meer-a50465119/" target="_blank"
                                                            rel="noopener">
                                                            <i class="fab fa-linkedin"></i>
                                                        </a>
                                                    </li>
                                                    
                
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFm4G3Bq7geng/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=FUXCqO2bLRnoYg1t8ZFFXzvXUJs7R-X3gHdbT7bzd-Y" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Rohit P Nagraj</h5>
                                                <p>DSC Core Member</p>  
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/RohitNagraj" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/rohitnagraj/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQG0REeTBLZZmA/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=JnYrsMJ3hcKahGSUk4OQu6YH-_k3leKBxZLq685KMTk" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Raghav Maheshwari</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/raghavddps2" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/raghavddps2/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFbdNMU0mR_3A/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=JKq3IJPXwQYd6rypO48HFJVjifzxlOX6HhbqWMR-G6A" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ayush Ujjwal</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ayush-ujjwal-15496016b/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQHoq3xz5tyGcQ/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=VseUaNF6r_KjcorLsmcrJmTiBP2Ujg_vVS_nNmGG4fw" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Ishank Sharma</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ishank-dev" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/ishank-sharma-438a32144/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQE1GaVtngkGtA/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=M2IGZrnDzmpCV271Uu6Zw4XKbosalBEoo3Ce5XzeRRc" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Tanisha Sabherwal</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/tanisha03" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tanisha-sabherwal-7b968a146/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQGpQNeowC0afg/profile-displayphoto-shrink_200_200/0?e=1574294400&v=beta&t=riLJTSx_DmigiEkMpE6_lIkn2tXuSVB94Lu4q1hF1C4" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Nimish Bongale</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/nimishbongale" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/nimish-bongale/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQFNDS7oIXU2kQ/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=tR3XcX8cFsIY02CuVvPPEavwNJwHX8cFOLXAqBMEaSY" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Rishabh Priyadarshini</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/rishabhp99" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/rishabhp99/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                        <div class="avatar">
                                            <img id="ycol" src="https://media.licdn.com/dms/image/C5603AQEw4SpdgkqLEw/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=iGas605fAGB78RS8_ua-Oxbit0UR4Nk7--OdARJWS8M" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Abhay Desalli</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/AbhayABD" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/tanisha-sabherwal-7b968a146/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQEX3JYsnbRYcw/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=OTpwYvAAPbSrXi5-5tML8xJcHJrnShHRyUax3DY_3vA" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Abhishek Tangod</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/ayush1612" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/abhishekvtangod/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                    
                                        <div class="avatar">
                                            <img id= "bcol" src="https://media.licdn.com/dms/image/C5103AQGtDeprs5lYGg/profile-displayphoto-shrink_800_800/0?e=1574899200&v=beta&t=uBv_faGd-8xp5cGcYDj7vw1FI454EajlYufGMPLzKNM" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Gaurav Kashyap</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/gaurav-kay" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                
            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="card event-card">
                                    <div class="card hovercard">
                                        <div class="avatar">
                                            <img id="ycol" src="https://media.licdn.com/dms/image/C5103AQHzab3-hYJqQA/profile-displayphoto-shrink_200_200/0?e=1574899200&v=beta&t=4G97lblg4XuqJbPwO9Sk1F5hYYKborMKnr3wOcRVBT0" alt="lead avatar">
                                        </div>
                                        <div class="info">
                                            <div class="title">
                                                <h5>Satyam</h5>
                                                <p>DSC Core Member</p>
                                            </div>
                                        </div>
                                        <div class="bottom">
                                            <ul class="social-list__inline mt-10">
                                                <li>
                                                    <a href="https://github.com/anniemburu/" target="_blank" rel="noopener">
                                                        <i class="fab fa-github"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.linkedin.com/in/satyam-kumar-701722175/" target="_blank"
                                                        rel="noopener">
                                                        <i class="fab fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-4 col-12">
                        
                    </div>
                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% include './includes/footer.html' %}

</body>
</html>